include "input.kdl"
include "layout.kdl"
include "window-rule.kdl"
include "noctalia.kdl"
include "startup.kdl"
include "keybind.kdl"

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 24
}

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

screenshot-path "~/图片/屏幕截图/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    slowdown 1.5
}

