prefer-no-csd
layout {
    gaps 16
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }
    focus-ring {
        // Uncomment this line to disable the focus ring.
        off
        width 4
        active-color "#7fc8ff"
        // inactive-color "#505050"
    }

    tab-indicator {
        on
        hide-when-single-tab
        place-within-column
        width 2
        gap 5
        length total-proportion=0.25
        position "right"
        gaps-between-tabs 5
        active-color "#bb9af7"
        inactive-color "#f7768e"
        urgent-color "red"
    }

    border {
        on
        width 1
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    insert-hint {
        // off
        color "#a9b1d6"
        gradient from="rgb(0,238,255)" to="rgb(250,139,255)" angle=45 relative-to="workspace-view"
    }

    shadow {
        on
        // draw-behind-window true
        softness 30
        spread 5
        offset x=0 y=5
    }

    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}
