output "eDP-1" {
    mode "2560x1600@60.000"
    scale 1.5
    transform "normal"
    position x=-1706 y=0
}

output "HDMI-A-1" {
	mode "2560x1440@144.001"
	scale 1.25
	transform "normal"
    position x=0 y=0
}