layout {

    focus-ring {
        active-color   "#ffaceb"
        inactive-color "#161215"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffaceb"
        inactive-color "#161215"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffaceb"
        inactive-color "#712b66"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffaceb80"
    }
}

recent-windows {
    highlight {
        active-color "#ffaceb"
        urgent-color "#ffb4ab"
    }
}
