layout {

    focus-ring {
        active-color   "#b7c5f5"
        inactive-color "#131316"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#b7c5f5"
        inactive-color "#131316"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#b7c5f5"
        inactive-color "#1f2d54"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#b7c5f580"
    }
}

recent-windows {
    highlight {
        active-color "#b7c5f5"
        urgent-color "#ffb4ab"
    }
}
