layout {

    focus-ring {
        active-color   "#c32267"
        inactive-color "#eddee4"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#c32267"
        inactive-color "#eddee4"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#d4c4cb70"
    }

    tab-indicator {
        active-color   "#c32267"
        inactive-color "#e6b2c8"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#c3226780"
    }
}

recent-windows {
    highlight {
        active-color "#c32267"
        urgent-color "#fd4663"
    }
}
