spawn-at-startup "qs" "-c" "noctalia-shell"
// spawn-at-startup "mako"
// spawn-sh-at-startup "waypaper --restore"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
// spawn-sh-at-startup "/usr/bin/swayidle -w timeout 601 'niri msg action power-off-monitors' timeout 600 'swaylock -f' before-sleep 'swaylock -f'"
