window-rule {
    match title="^Picture-in-Picture$"
    match title="^(Open File)(.*)$"
    match title="^(Select a File)(.*)$"
    match title="^(Choose wallpaper)(.*)$"
    match title="^(Open Folder)(.*)$"
    match title="^(Save As)(.*)$"
    match title="^(Library)(.*)$"
    match title="^(File Upload)(.*)$"
    match title="^(Export)(.*)$"
    match title="^(file_progress)$"
    match title="^(confirm)$"
    match title="^(dialog)$"
    match title="^(download)$"
    match title="^(error)$"
    match title="^(Volume Control)$"
    match title="^(Choose Files)$"
    match title="^(Save As)$"
    match title="^(Confirm to replace files)$"
    match title="^(File Operation Progress)$"
    match title="^(DevTools)$"
    match title="^(Open File)$"
    match title="^(Media viewer)$"
    match title="^(Open)$"
    match title="^(xdg-desktop-portal-gtk)(.*)$"

    // Chinese Localization
    match title="^(打开)(.*)$"
    match title="^(选择)(.*)$"
    match title="^(保存)(.*)$"
    match title="^(另存为)(.*)$"
    match title="^(确认)(.*)$"
    match title="^(错误)(.*)$"
    match title="^(警告)(.*)$"
    match title="^(nomacs)(.*)$"
    match title="^(文件上传)(.*)$"
    match title="^(下载)(.*)$"
    match title="^(属性)(.*)$"
    match title="^(设置)(.*)$"
    match title="^(关于)(.*)$"
    match title="^(搜索)(.*)$"
    match title="^(查找)(.*)$"
    match title="^(替换)(.*)$"
    match title="^(字体)(.*)$"
    match title="^(颜色)(.*)$"
    match title="^(复制)(.*)$"
    match title="^(移动)(.*)$"
    match title="^(重命名)(.*)$"
    match title="^(删除)(.*)$"
    match title="^(新建)(.*)$"
    match title="^(导出)(.*)$"
    match title="^(导入)(.*)$"
    match title="^(进度)(.*)$"
    match title="^(首选项)(.*)$"

    match app-id="^(org.gnome.polkit-gnome-authentication-agent-1)$"
    match app-id="^(qt5ct)$"
    match app-id="^(qt6ct)$"
    match app-id="^(nwg-look)$"
    match app-id="^(rofi)$"
    match app-id="^(com.github.hluk.copyq)$"
    match app-id="^(notification)$"
    match app-id="^(pavucontrol)$"
    match app-id="^(blueman-manager)$"
    match app-id="^(nm-applet)$"
    match app-id="^(nm-connection-editor)$"
    match app-id="^(waypaper)$"
    match app-id="^(Emulator)$"
    match app-id="^(wine|wine-preloader|wine64-preloader)$"
    match app-id="^(timeshift-gtk)$"
    match app-id="^(taskmgr.exe)$"

    open-floating true
    tiled-state false
    // default-column-width { proportion 0.6; }
}

// Set specific apps to use full column width by default.
window-rule {
    match app-id="zen"
    match app-id="code"
    match app-id="Termius"
    match app-id="google-chrome"
    default-column-width { proportion 1.0; }
}

window-rule {
    match app-id="zen"
    match title="页面信息 — *"

    open-floating true
}

// Indicate screencasted windows with red colors.
window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#7d0d2d"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}

window-rule {
    geometry-corner-radius 15
    clip-to-geometry true
}

layer-rule {
    match namespace="waybar"
    match namespace="^notifications$"
    match at-startup=true

    // Properties that apply continuously.
    block-out-from "screencast"
    // block-out-from "screen-capture"

    shadow {
        // on
        off
        softness 40
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#00000064"
        // inactive-color "#00000064"
    }
}

// Set the regular wallpaper on the backdrop.
layer-rule {
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
}

// Set transparent workspace background color so you see the backdrop at all times.
layout {
    background-color "transparent"
}

// Optionally, disable the workspace shadows in the overview.
overview {
    workspace-shadow {
        off
    }
}
